html{
  text-align: center;
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color:white;
}
a {
  font-family:Helvetica;
  font-size: 18px;
  color:white;
}
ul{
  list-style: none;
}
.header{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png)
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
#designed {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color:white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png)
}
footer {
  display: flex;
  align-items: center;
  color: white;
  background: dimgray;
}
footer p {
  padding-right: 0.5rem
}

#copyright{
  font-size: 11px;
}
